[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
 
[packages]
flask = "*"
jsonify = "*"
clarifai = "*"
clarifai_grpc = "*"
python_dotenv = "*"

[requires]
python_version = "3.9"